#game-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  /* border: 1px solid #2d2d2d; */
  padding: 2rem;
}

.gameSquare {
  border: 1px solid #2d2d2d;
  text-align: center;
  padding: 70px 0;
}

#player-turn {
  text-align: center;
}
